## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
!pip install gmaps
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

Requirement already satisfied: gmaps in c:\users\dlh\anaconda4\lib\site-packages (0.9.0)
Requirement already satisfied: six in c:\users\dlh\anaconda4\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\dlh\anaconda4\lib\site-packages (from gmaps) (7.16.1)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\dlh\anaconda4\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: geojson>=2.0.0 in c:\users\dlh\anaconda4\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\dlh\anaconda4\lib\site-packages (from gmaps) (4.3.3)
Requirement already satisfied: decorator in c:\users\dlh\anaconda4\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\dlh\anaconda4\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.3)
Requirement already satisfied: pygments in c:\users\dlh\anaconda4\lib\site-packages (from ipython>=5.3.0->gmaps) (2.6.1)
Requirement already satisfied: jedi>=0.10 in c:\users\dlh\anaconda4\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: pickleshare in c:\users\dlh\anaconda4\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: backcall in c:\users\dlh\anaconda4\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\dlh\anaconda4\lib\site-packages (from ipython>=5.3.0->gmaps) (49.2.0.post20200714)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dlh\anaconda4\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.5)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\dlh\anaconda4\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.7)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\dlh\anaconda4\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.2)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\dlh\anaconda4\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipython-genutils in c:\users\dlh\anaconda4\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\dlh\anaconda4\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\dlh\anaconda4\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\dlh\anaconda4\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\dlh\anaconda4\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: jupyter-client in c:\users\dlh\anaconda4\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.6)
Requirement already satisfied: tornado>=4.2 in c:\users\dlh\anaconda4\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: notebook>=4.4.1 in c:\users\dlh\anaconda4\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\dlh\anaconda4\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.16.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\dlh\anaconda4\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\dlh\anaconda4\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dlh\anaconda4\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: pyzmq>=13 in c:\users\dlh\anaconda4\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (19.0.1)
Requirement already satisfied: terminado>=0.8.1 in c:\users\dlh\anaconda4\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: nbconvert in c:\users\dlh\anaconda4\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: Send2Trash in c:\users\dlh\anaconda4\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: prometheus-client in c:\users\dlh\anaconda4\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: jinja2 in c:\users\dlh\anaconda4\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\dlh\anaconda4\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\dlh\anaconda4\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: testpath in c:\users\dlh\anaconda4\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: bleach in c:\users\dlh\anaconda4\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.5)
Requirement already satisfied: defusedxml in c:\users\dlh\anaconda4\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\dlh\anaconda4\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\dlh\anaconda4\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: packaging in c:\users\dlh\anaconda4\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: webencodings in c:\users\dlh\anaconda4\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\dlh\anaconda4\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\DLH\Documents\Weather Database\WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,aflu,dz,31.883867,1.459673,0.00,0,0,0.00,NaN
1,1,hambantota,lk,-0.916165,87.480602,75.70,87,{'all': 16},6.93,few clouds
2,2,norman wells,ca,73.344074,-119.794987,-9.40,83,{'all': 75},4.38,broken clouds
3,3,jamestown,sh,-28.164778,-10.134299,33.01,80,{'all': 1},17.65,clear sky
4,4,bluff,nz,-63.417944,172.551918,69.01,47,{'all': 0},3.00,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("Enter minimum temperature: "))
max_temp = float(input("Enter maximum temperature: "))

Enter minimum temperature: 0
Enter maximum temperature: 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_data = city_data_df.loc[(city_data_df['Max Temp'] >= min_temp) &
                                 (city_data_df['Max Temp'] <= max_temp)]
filtered_data.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,aflu,dz,31.883867,1.459673,0.00,0,0,0.00,NaN
1,1,hambantota,lk,-0.916165,87.480602,75.70,87,{'all': 16},6.93,few clouds
3,3,jamestown,sh,-28.164778,-10.134299,33.01,80,{'all': 1},17.65,clear sky
4,4,bluff,nz,-63.417944,172.551918,69.01,47,{'all': 0},3.00,clear sky
5,5,golyshmanovo,ru,56.269385,68.646473,13.75,95,{'all': 100},15.35,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
np.where(pd.isnull(filtered_data))

(array([   0,   21,   23,   25,   34,   43,   51,   59,   60,   80,   88,
          89,  119,  122,  129,  147,  149,  159,  169,  174,  185,  201,
         203,  227,  237,  273,  291,  300,  304,  322,  327,  355,  378,
         384,  389,  392,  405,  420,  433,  445,  453,  462,  466,  480,
         482,  510,  521,  526,  541,  547,  560,  567,  591,  615,  637,
         648,  655,  661,  666,  668,  669,  672,  677,  683,  721,  754,
         760,  762,  767,  780,  786,  792,  801,  802,  826,  830,  840,
         841,  855,  866,  872,  879,  916,  924,  937,  969,  987, 1020,
        1026, 1047, 1072, 1086, 1089, 1093, 1130, 1142, 1147, 1154, 1155,
        1158, 1160, 1162, 1163, 1166, 1172, 1173, 1183, 1226, 1241, 1242,
        1245, 1253, 1255, 1256, 1257, 1258, 1273, 1279, 1283, 1284, 1286,
        1289, 1299, 1302, 1310, 1311, 1313, 1329, 1353, 1359, 1397, 1413,
        1429, 1445, 1446, 1456, 1472, 1474, 1507, 1518, 1521, 1522, 1539,
        1549, 1584, 1593, 1601, 1608, 1615, 1622, 1647, 1675, 1680, 1691,
        1692, 1694, 1707, 1711, 1716], dtype=int64),
 array([9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
        9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
        9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
        9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
        9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
        9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
        9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9,
        9, 9, 9, 9, 9], dtype=int64))

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_data = filtered_data.dropna()
np.where(pd.isnull(filtered_data))

(array([], dtype=int64), array([], dtype=int64))

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_data[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,hambantota,lk,75.70,few clouds,-0.916165,87.480602,
3,jamestown,sh,33.01,clear sky,-28.164778,-10.134299,
4,bluff,nz,69.01,clear sky,-63.417944,172.551918,
5,golyshmanovo,ru,13.75,overcast clouds,56.269385,68.646473,
6,busselton,au,61.00,clear sky,-72.407366,94.567831,
7,codrington,ag,58.30,broken clouds,23.913131,-55.172555,
8,bonthe,sl,78.94,broken clouds,0.683460,-19.842215,
9,bluff,nz,69.01,clear sky,-79.169903,161.410871,
10,nsanje,mw,75.76,overcast clouds,-17.156385,35.810946,
11,guerrero negro,mx,64.67,clear sky,19.645037,-123.328752,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for i, row in hotel_df.iterrows():
    print(i)
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    long = row["Lng"]
    params["location"] = f"{lat},{long}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[i, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        pass

1
3
4
5
6
7
8
9
10
11
12
13
14
15
17
18
19
21
22
23
25
27
29
30
31
32
33
34
35
36
38
39
40
41
42
43
44
45
47
48
49
50
51
52
53
55
56
57
58
59
60
61
65
66
67
68
71
72
73
74
75
76
77
78
79
80
81
82
84
85
86
88
89
90
91
92
93
94
97
98
99
100
101
103
104
105
106
107
108
109
110
111
112
114
115
116
118
119
120
121
122
123
124
125
126
128
129
132
133
135
136
137
138
139
140
142
143
144
145
147
148
149
150
151
152
153
155
156
158
159
160
161
163
165
166
167
168
169
170
171
172
173
176
177
178
179
180
183
184
185
186
188
189
190
191
193
194
195
196
197
198
199
200
202
204
206
207
208
209
210
211
212
213
215
216
217
218
221
222
223
225
228
229
230
231
233
234
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
254
255
257
259
260
261
262
263
265
267
268
269
270
273
274
276
277
278
279
280
281
282
283
286
287
288
289
290
291
292
294
295
296
297
298
299
300
302
303
304
305
306
307
308
310
311
312
313
314
315
316
317
318
319
321
322
323
324
326
327
328
331
334
335
336
337
338
339
340
342
343
344
347
348
349
350
351
352
353
354
355
357
358
359
360
361
362
363
364
367
369
372
373
375
376
377
378
379
380
382
383
384
386
387
389
390
391
393
394
395
396
397
398
399
400
401
402
403
404
405
407
408
409
410
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
431
432
433
434
435
437
438
439
440
442
443
445
446
447
448
449
451
452
453
454
455
456
457
459
460
461
462
463
464
465
466
467
468
470
472
473
474
478
479
480
481
482
483
484
485
486
487
488
489
491
492
493
494
495
497
498
499
500
501
502
504
505
506
507
508
510
511
513
514
515
516
517
519
520
521
523
524
525
527
528
529
530
533
534
535
536
537
538
539
540
541
543
545
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
564
565
566
567
569
570
571
572
574
575
577
578
580
581
582
583
584
585
586
587
590
591
592
593
595
597
598
599
601
602
603
604
605
607
608
609
610
611
613
615
616
617
618
620
621
622
624
625
626
627
628
629
630
631
632
634
635
636
637
638
639
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
657
658
659
660
661
662
663
664
666
667
668
670
671
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
692
693
694
695
696
698
699
700
702
703
704
705
707
708
709
710
711
712
713
714
715
717
718
719
720
721
722
724
725
726
727
729
730
731
732
733
734
737
738
739
741
742
744
745
746
747
749
752
753
755
756
757
758
761
762
764
765
766
768
769
770
771
772
773
774
775
776
777
778
780
781
782
783
784
785
786
787
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
809
810
811
812
814
816
817
818
819
820
821
823
824
825
828
830
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
849
850
851
852
854
857
859
860
861
862
864
865
866
867
868
869
870
871
872
873
874
875
877
878
879
880
882
884
885
886
887
888
890
892
893
894
895
897
898
899
903
904
905
906
907
908
909
910
911
913
914
915
916
917
918
921
922
923
924
925
926
927
928
931
932
933
935
936
937
938
939
940
941
942
943
946
947
948
949
950
951
952
955
957
958
959
962
963
966
968
969
970
971
972
973
974
975
976
978
979
980
981
982
984
985
986
987
989
990
992
994
995
997
998
999
1000
1001
1002
1003
1004
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1034
1035
1037
1038
1039
1040
1041
1043
1044
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1068
1069
1070
1072
1073
1074
1075
1076
1077
1078
1079
1080
1082
1083
1084
1085
1086
1087
1088
1089
1090
1092
1094
1096
1097
1098
1099
1100
1101
1102
1103
1104
1106
1108
1109
1110
1111
1113
1116
1117
1118
1120
1121
1122
1123
1124
1125
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1146
1147
1148
1149
1150
1151
1154
1155
1157
1158
1159
1161
1163
1164
1165
1166
1167
1169
1171
1172
1173
1174
1175
1176
1177
1178
1179
1181
1182
1183
1184
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1198
1199
1200
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1213
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1227
1229
1230
1232
1233
1235
1237
1239
1240
1241
1242
1244
1245
1246
1247
1248
1249
1250
1251
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1278
1279
1280
1281
1283
1284
1285
1286
1288
1289
1290
1294
1295
1296
1297
1299
1300
1301
1302
1303
1304
1307
1308
1311
1314
1318
1319
1321
1322
1323
1324
1325
1328
1330
1331
1332
1333
1334
1335
1336
1337
1339
1340
1341
1342
1343
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1359
1360
1361
1362
1363
1364
1366
1367
1368
1369
1370
1371
1372
1373
1374
1376
1377
1378
1379
1380
1381
1382
1383
1384
1386
1387
1389
1390
1391
1392
1393
1395
1396
1397
1398
1400
1401
1402
1403
1406
1409
1411
1413
1414
1415
1417
1418
1419
1420
1423
1428
1429
1430
1431
1432
1433
1434
1435
1436
1438
1439
1440
1441
1443
1445
1446
1447
1448
1449
1451
1452
1453
1456
1458
1459
1462
1463
1464
1466
1467
1468
1469
1470
1472
1475
1476
1478
1479
1480
1482
1483
1484
1485
1488
1490
1491
1492
1493
1494
1495
1496
1497
1498
1500
1501
1503
1504
1505
1506
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1528
1529
1530
1531
1533
1534
1535
1536
1537
1539
1540
1542
1543
1544
1545
1546
1547
1548
1551
1552
1553
1554
1555
1556
1557
1558
1559
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1578
1579
1580
1583
1585
1586
1587
1588
1591
1592
1593
1595
1596
1597
1598
1599
1600
1602
1604
1605
1606
1607
1608
1609
1610
1611
1612
1614
1616
1617
1618
1619
1620
1622
1623
1624
1625
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1641
1642
1643
1644
1645
1646
1647
1649
1650
1652
1653
1654
1655
1657
1658
1659
1660
1661
1662
1665
1667
1669
1670
1671
1673
1675
1676
1677
1678
1680
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1704
1705
1706
1707
1708
1710
1713
1714
1715
1717
1718
1719
1720
1723
1724
1725
1727
1728
1731
1732
1733
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1749
1750
1752
1753
1754
1755
1756
1757
1758
1759
1760
1762
1764
1765
1766
1767
1768
1769
1771
1772
1773
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1792
1793
1795
1796
1797
1798
1799
1800
1804
1805
1807
1808
1809
1810
1811
1812
1814
1815
1816
1817
1819
1821
1823
1825
1826
1827
1828
1830
1831
1833
1834
1835
1836
1837
1838
1840
1841
1842
1843
1844
1845
1847
1848
1849
1851
1852
1854
1855
1856
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1873
1874
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1900
1901
1902
1903
1905
1906
1907
1908
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1922
1925
1927
1928
1929
1931
1932
1933
1934
1935
1936
1937
1938
1940
1941
1942
1945
1946
1947
1948
1950
1951
1952
1953
1954
1955
1956
1957
1959
1960
1961
1962
1963
1964
1965
1966
1968
1969
1970
1971
1972
1974
1975
1976
1977
1978
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()
clean_hotel_df = hotel_df.dropna()

In [10]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,hambantota,lk,75.70,few clouds,-0.916165,87.480602,
3,jamestown,sh,33.01,clear sky,-28.164778,-10.134299,
4,bluff,nz,69.01,clear sky,-63.417944,172.551918,
5,golyshmanovo,ru,13.75,overcast clouds,56.269385,68.646473,
6,busselton,au,61.00,clear sky,-72.407366,94.567831,

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
!jupyter nbextension enable --py gmaps
!jupyter nbextension enable --py widgetsnbextension
fig

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

Figure(layout=FigureLayout(height='420px'))